node_modules

# Output
.output
.vercel
.netlify
.wrangler
/client/.svelte-kit
/client/build
/client/tmp
/server/tmp

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

*.db
*.db-*

# Go
/server/testlib
# /server/config
